body{
    font-family: sans-serif;
    color: aliceblue;
    text-align: center;
    position: relative;
}
h1{
    font-size: 60px;
}
.cuestionario{
    width: 650px;
    height: auto;
    background: #1c1c1c;
    margin: auto;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px ;
}
.pregunta{
    text-align: left;
    margin: auto;
    width: 80% ;

}
.pregunta p{
    font-size: 25px;
}
img{
    position: absolute;
    object-fit: cover;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    filter: blur(2px);
}
.explicacion{
    text-align: left;
    width: 650px;
    margin: auto;
    padding: 50px;
    background: #0b1c6462;
}

.temporizador{
    background: #fff;
    padding: 10px 20px ;
    color: #1c1c1c;
    width: 80px;
}